.actions-background-img {
    width: 90%;
    max-width: 550px;
    background: url("../images/SL-051919-20420-09.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: right center;
    margin-bottom: 3rem;
}

.container-actions {
    width: 100%;
    margin: 0 auto;
    background: var(--transparent-grey);
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1.5rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.main-menu-btn {
    background: transparent;
    color: var(--dark-blue);
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    margin-top: 3rem;
    border: solid 2px var(--dark-blue);
    box-shadow: inset 0px -4px var(--transparent-blue);
}
.main-menu-btn:hover {
    background: var(--dark-blue);
    color: var(--light-grey);
    opacity: 1;
}

.container-actions .check-btn {
    font-weight: 600;
    background: transparent;
    margin: 0 auto;
    color: var(--dark-blue);
    border: solid 2px var(--dark-blue);
    box-shadow: inset 0px -4px var(--transparent-blue);
}

.container-actions .check-btn:hover,
.container-actions .check-btn:focus {
    background: var(--dark-blue);
    color: var(--light-grey);
    opacity: 1;
}

.msg {
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.score-msg {
    color: var(--red);
    opacity: 1;
}

.error-msg {
    color: var(--red);
}
