.container-question {
    width: 90%;
    padding: 2rem 0;
    padding-bottom: 2.5rem;
    max-width: 550px;
    margin: 0 auto;
    font-size: 1.25rem;
    margin-bottom: 3rem;
    line-height: 2.5rem;
    border-top: solid 2px var(--light-grey);
}

.question {
    text-transform: capitalize;
    margin-bottom: 1.5rem;
}

.answers {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 1.5rem;
    padding: 0;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
    font-weight: 700;
    text-align: center;
    border: solid 2px var(--dark-blue);
    border-radius: 15px;
    padding: 10px;
}

.answer:hover,
.answer:focus {
    background-color: var(--light-grey);
    color: var(--dark-blue);
    opacity: 0.5;
}

.selected-answer {
    background: var(--dark-grey);
    border: solid 2px var(--dark-grey);
}

.incorrect {
    background: var(--light-red);
}

.correct {
    background: var(--light-green);
}

@media (min-width: 900px) {
    .container-question {
        max-width: 90%;
        margin: 0 auto;
    }
    .container-question {
        width: 100%;
        margin-bottom: 3.5rem;
    }

    .question {
        font-size: 2rem;
        font-weight: 700;
        line-height: 40px;
    }

    .answers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        padding: 0;
    }

    .answer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.35rem;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        border: solid 2px var(--dark-blue);
        border-radius: 15px;
        padding: 0.75rem 1rem;
    }

    .container-questions:last-child {
        border-bottom: solid 2px var(--light-grey);
        color: green;
        background: blue;
    }
}
